{% extends "shorty/base.html" %}

{% block title %}Home{% endblock %}

{% block h2 %}Skrc<sup><span class="x-small">herokuapp.com</span></sup>{% endblock %}

{% block content %}
<div class="info-form">
    <form action="" class="justify-content-center" method="POST">
        <div class="form-group">
            {% csrf_token %}
            {% if form.url.errors %}
            <span class="text-white bg-custom opacity">{{ form.url.errors | striptags }}</span>
            {% endif %}
            {% load filters %}
            {{ form.url | classes_and_placeholder:'form-control URL' }}
        </div>
        <button type="submit" class="btn btn-success">Skrc!</button>
    </form>
</div>
{% endblock %}